@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
* {
    margin: 0%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    box-sizing: border-box;
}
html    {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background: #FF3131;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*header*/

header {
    display: flex;
    height: 20vh;
    background: url(/img/banner.png)no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    padding: 10px;    
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.logo{
    display: flex;
    align-items: center;
    color: black;
}

.logo img{
    height: 130px;
    left: 5%;
}

.menu-lista {
    list-style-type: none;
    display: flex;
}

nav a{
    font-size: 2vh;
    font-weight: 800;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: #FF3131;
}

#cerrar-menu {
    display: none;
    box-shadow: none;
}
#abrir-menu {
    display: none;
    box-shadow: none;
}

/* Header responsive */
@media screen and (max-width: 750px){
    #abrir-menu, #cerrar-menu {
        display: block;
        cursor: pointer;
    }
    .navbar {
        opacity: 0;
        visibility: hidden;
        width: 43%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color:#FC3131;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000;
    }
    .navbar.visible    {
        opacity: 1;
        visibility: visible;
    }
    .cerrar-menu    {
        display: block;
        box-shadow: none;
        color: black;
        padding: 0px;
    }
    .menu-lista {
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding-right: 0.9rem;
    }
    nav ul li a:hover{
        color: #ffffff;
    }
}

/*fin header*/

/*INDEX.HTML*/
.banner{
    background-image: url(/img/fondohamburguesa.jpg.jpg);
    height: 40rem;
    background-size: cover;
    background-position: center;
}
.content-banner{
    margin-top: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem;
}
.content-banner h1{
    color: #FF3131;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    margin: 8%;
    height: 3vh;
    justify-content: left;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.content-banner h3{
    color:gray;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    margin: 8%;
    justify-content: left;
    font-weight: 400;
    font-style: normal;
}
.encabezado h2{
    margin-top: 40px;
    margin-bottom: 50px;
    color:white;
    font-size: 1.5rem;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-content: center;
    font-style: normal;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif{
    background-size: cover;
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    background-color: black;
}

.gif img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* MENU.HTML CARD */

/* FIN MENU.HTML CARD */

/*ÍCONOS FLOTANTE*/
.icono{
    position: fixed;
    line-height: 55px;
    bottom: 30px;  
    z-index: 1000;  
}
.wsp{
    height: 85px;
    left: 30px;
}

.icono:hover{
    transform: scale(1.1);
}
.up{
    width: 55px;
    height: 55px;
    right: 30px;
    bottom: 55px;
    background-color: #ffffff;
    border-radius: 50px;
}


/*FIN ÍCONOS FLOTANTES*/


.card-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1% 0.5%;
    justify-content: space-around;
    background-color: #EDE7E7;
    border-radius: 28px;
    padding: 0 1% 
}

.cg-menu {
    margin: 0 25px;
    gap: 25px;
}

.flip-card {
    width: 300px;
    margin: 5% 0;
}
.fc-menu{
    height: 500px;
}

.fc-sucursales {
    height: 300px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 20px black;
    border-radius: 28px;
    transition: all 550ms;
    transform-style: preserve-3d;
    
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(-180deg);
}

.flip-card-front, .flip-card-back {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 28px;
    overflow: hidden;  

}

.fcf-sucursales {
    background-color: rgb(197, 40, 40); 
}

.flip-card-front p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: 800;
 
}
.fcf-sucursales img{
    width: 60%;
    align-self: center;
}

.ciudad {
    color: #EDE7E7;
    font-size: 2.3rem;
    margin-top: 15%;
}

.flip-card-back{
    background-color: #EDE7E7;
    transform: rotateY(180deg);
}

.fcb-sucursales {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;     
    display: grid;
    place-items: center;
    background-color: rgb(192, 133, 138);
    box-sizing: border-box;
    transform:rotateY(180deg);
    
}

.imagen-producto {
    width: auto;
    height: 80%;
    margin-bottom: 6%;
}

.mapa {
    height: 300px;
    width: 300px;
}

.promos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1% 0.5%;
    justify-content: space-around;
}

.tarjeta-promo {
    background-color: #EDE7E7;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 28px;
    overflow: hidden;
    margin: 5%;
}
.tarjeta-promo:hover{
    transform: scale(1.1);
}
.imagen-promo{
    width: auto;
    height: 80%; 
    margin-bottom: 5%;
}


/* Menú responsive FLEX */

  .cg-menu, .promos {
    flex: 1 1 calc(25% - 50px);
    margin: 25px;
  }
  @media (min-width: 1200px) {
    .cg-menu, .promos {
      flex: 1 1 calc(25% - 50px);
    }
  }
  @media (min-width: 750px) and (max-width: 1199px) {
    .cg-menu, .promos {
      flex: 1 1 calc(50% - 50px);
    }
  }
  @media (max-width: 750px) {
    .cg-menu {
      flex: 1 1 100%;
    }
  }

/*
h3  {
    margin: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 25px;
    gap: 25px;
}/*

/* Menú responsive */
/* Pantallas de escritorio (6 productos por fila) */
/*@media (min-width: 1200px) {
    .card-grid .promos{
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Pantallas de tablet (4 productos por fila) */
/*@media (min-width: 750px) and (max-width: 1199px) {
    .card-grid .promos{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Pantallas de celulares (2 productos por fila) */
/*@media (max-width: 750px) {
    .card-grid .promos{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Fin menú responsive */

/*article {
    background-color: white;
    min-width: 100px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

#imagen-producto {
    max-width: 100%;
    border: 3px;
    border-color: #FC3131;
}

.precio {
    font-weight: 800;
}

article:hover   {
    transform: scale(1.1);
}*/

/*.promos  {
    display: grid;
    margin: 30px 25px;
    gap: 25px;
    justify-content: center;
    justify-items: center;
}*/

/* Promos responsive */
/* Pantallas de escritorio (6 productos por fila) */
/*@media (min-width: 1200px) {
    .promos {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Pantallas de tablet (4 productos por fila) */
/*@media (min-width: 750px) and (max-width: 1199px) {
    .promos {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Pantallas de celulares (2 productos por fila) */
/*@media (max-width: 750px) {
    .promos {
        grid-template-columns: repeat(1, 1fr);
    }
}*/
/* Fin promos responsive */

/*.tarjeta-promo  {
    min-width: 150px;
    max-width: 300px;
}

#imagen-promo   {
    max-width: 100%;
    border: 3px;
    border-color: #FC3131;
}*/



/*INICIO RRHH*/

.rrhh-container{
    background-color: rgb(255, 255, 255);
    margin: 0 1% 2%;    
    padding: 1%;
    min-width: 250px;
}

.rrhh-container-inner {  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;     
}

.nosotros, .form {
    width: 450px;
    height: auto;    
    border: 3px solid rgb(197, 40, 40);
    border-radius: 28px;
    padding: 5% 2%;
}

.nosotros{
    background-color: rgb(197, 40, 40);
    display: flex;
    align-items: center;  
}

.excluido {
    /* h4 "Te estamos buscando"
    Tiene clase "excluido" hasta que unifiquemos los estilos*/
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.nosotros-inner>p {
    color: white;
    font-size: 1em;
    text-align: justify;
    margin-top: 3%;
}

.form {
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
    align-items: center;
}


fieldset {
    border-radius: 28px;
    background-color: rgb(197, 40, 40);
    margin: 10px 0;
    border: 1px solid rgb(197, 40, 40);
}

fieldset>label, .movilidad {
    color: white;    
}

.movilidad{
    display: flex;
    font-size: 0.8rem; 
}


legend{
    background-color: rgb(250, 237, 237);
    border-radius: 28px;
    padding: 3%;    
}

form select, form input:not(.excluido, #cv){
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid white;
    border-radius: 15px;
}   

form textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(197, 40, 40);
    border-radius: 15px;
    padding: 5px;
    background-image: url("../img/corona_roja_op.png");
    background-size: 30px;
    background-repeat: repeat;
}

button  {
    width: 200px;
    background-color: #FF3131;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    padding: 10px 20px;
    margin-top: 20px; /* Opcional: Añade margen superior para separación */
}
/*FIN RRHH*/

/*inicia footer*/
footer{
    padding: 1em;
    text-align: center;
    margin-top: auto;
    background-color: black;
    color: white;
}


i{
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 2px 2px white;
}


.copy{
    background: grey;
    text-align: center;
    color: black;
}
/*fin footer*/


