<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/83d0bbc62a.js" crossorigin="anonymous"></script>
    <title> BurgerQueen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styleCrud.css">
</head>

<body>
    <header id="header">

    </header>
    <main>
        <div id="app" class="container">
            <h1>Empleados</h1>
            <a class="btn btn-secondary boton-nuevo" href="usuario_nuevo.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , se produjo un error, intente más tarde>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <div class="tabla-contenedor">
                    <section v-else class="tabla">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-light">
                                <thead>
                                    <tr class="encabezado-tabla">
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">DNI</th>
                                        <th scope="col">Sucursal</th>
                                        <th scope="col">Puesto</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="" v-for="usuario in usuarios">
                                        <td scope="row">{{usuario.id}}</td>
                                        <td>{{usuario.nombre}}</td>
                                        <td>{{usuario.apellido}}</td>
                                        <td>{{usuario.dni}}</td>
                                        <td>{{usuario.sucursal}}</td>
                                        <td>{{usuario.puesto}}</td>
                                        <td>
                                            <div class="acciones">
                                                <a class="btn btn-warning"
                                                :href="'usuario_update.html?id='+usuario.id">Editar</a>
                                                <button type="button" class="btn btn-danger"
                                                v-on:click="eliminar(usuario.id)">Eliminar</button>
                                        

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
        
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="./js/main_crud.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/usuarios.js"></script>

</body>

</html>