<!doctype html>
<html lang="en">

<head>
  <title>Empleado Nuevo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styleCrud.css">
</head>

<body>
  <header id="header">

  </header>
  <main>

    <div class="contenedor-login" id="app">

      <div class="form-login">

        <form class="login" action="POST">
          <h1 class="titulo-login">Cargar empleado</h1>

          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" v-model="nombre">


          <label for="precio">Apellido</label>
          <input type="text" name="apellido" id="apellido" v-model="apellido">


          <label for="dni">DNI</label>
          <input type="number" minlength="8" maxlength="8" name="dni" id="dni" v-model="dni">

          <label for="sucursal">Sucursal</label>
          <select id="sucursal" name="sucursal" v-model="sucursal">
            <option value="" selected>Seleccioná sucursal</option>
            <option value="MC">Microcentro</option>
            <option value="BEL">Belgrano</option>
            <option value="PAL">Palermo</option>
            <option value="LP">La Plata</option>
            <option value="CB">City Bell</option>
            <option value="BR">Brandsen</option>
            <option value="VG">Villa Gesell</option>
            <option value="SR">San Rafael</option>
          </select>

          <label for="puesto">Puesto</label>
          <select name="puesto" id="puesto" v-model="puesto">
            <option value="" selected>Seleccioná puesto</option>
            <option value="Administrativo">Administrativo</option>
            <option value="Gerencia">Gerencia</option>
            <option value="AtPublico">Atención al público</option>
            
          </select>

          <!-- <label for="clave">Clave</label>
          <input type="text" name="clave" id="clave" v-model="clave"> -->

          <label for="clave">Rol</label>
          <select name="rol" id="rol" v-model="rol">
            <option value="" selected>Seleccioná rol de acceso</option>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
          <div class="boton-crud">
            <button type="button" v-on:click="grabar()">Cargar</button>
          </div>


        </form>
      </div>

    </div>
  </main>
  <footer id="footer">

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="./js/main_crud.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/usuarios.js"></script>
</body>

</html>